<!-- 编辑样机信息 -->
  <div class="modal fade" id="edit{{prototype.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document"> <!-- class="modal-dialog modal-dialog-centered"后面加： modal-dialog-centered 就会在电脑屏幕中间显示，不加就在电脑屏幕中上显示-->
      <!-- 要想有上次图片文件功能，后面必须加类属性：enctype="multipart/form-data" 否则上传是不行的-->
      <form action="{% url 'myweb_prototype_update' prototype.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">编辑信息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body register-card-body">
              <div class="input-group mb-3">
              <input type="text" name="id_name" readonly class="form-control" value="{{ prototype.id_name }}" placeholder="项目代号">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">项目代号</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="de" class="form-control" value="{{ prototype.de }}" placeholder="销售">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">销售</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="brand" class="form-control" value="{{ prototype.brand }}" placeholder="品牌">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">品牌</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="pv" class="form-control" value="{{ prototype.pv }}" placeholder="安卓版本">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">安卓版本</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="vos" class="form-control" value="{{ prototype.os }}" placeholder="OS版本">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">OS版本</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="m_name" class="form-control" value="{{ prototype.m_name }}" placeholder="手机名">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">手机名</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="IMEI" class="form-control" value="{{ prototype.IMEI }}" placeholder="IMEI">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">IMEI</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="name" class="form-control" value="{{ prototype.name }}" placeholder="样机管理员">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">样机管理员</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="user_name" class="form-control" value="{{ prototype.user_name }}" placeholder="样机借用人">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">样机借用人</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" readonly value="{{ prototype.borrow_time|date:'Y-m-d H:i:s' }}" placeholder="借用时间">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-times-circle-o">借用时间</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" readonly value="{{ prototype.still_time|date:'Y-m-d H:i:s' }}" placeholder="归还时间">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-times-circle-o">归还时间</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="remarks" class="form-control" value="{{ prototype.备注 }}" placeholder="备注">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">备注</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">确定</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<!-- /.编辑样机信息  -->
