<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wibdow对象</title>
</head>
<body>

<script>

    console.log(window.innerWidth)
    console.log(window.innerHeight)
    console.log(window.outerWidth)
    console.log(window.outerHeight)

    // 方法：窗口方法,window是默认最大的可以取消不写
    // window.alert('警告弹框')
    /*
    r = confirm('确定退出窗口吗？') // 带两个按钮的弹框 确定 取消 返回值：true false
    console.log(r)
    if(r){
        window.close() // 如果为true关闭窗口，否则不关闭
    }
    */

    //prompt()输入弹框
    /*
    var color = prompt("请输入一个颜色:");
    console.log(color);
    document.body.bgColor=color; //设置背景颜色部分
    */

    // 打开一个新的窗口，可以指定url，name
    // window.open('YTLURL.html', '', 'width=200, height=200')
</script>

</body>
</html>