{% extends 'myadmin/base_user.html' %}

{% load static %}
{% block main_body %}
  <!-- 黑色背景 -->
  <div class="card">
    <div class="register-box">
    <div class="card-body register-card-body">
      <p class="login-box-msg">添加员工</p>
      <form action="{% url 'myadmin_user_insert' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" name="username" class="form-control" placeholder="账号">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" name="nickname" class="form-control" placeholder="昵称">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="密码">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="retype_password" class="form-control" placeholder="确认密码">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button type="reset" class="btn btn-primary btn-block">重置</button>
          </div>
          <div class="col-4">
            <!-- 中间空格使重置按钮和添加按钮在两边展示 -->
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">添加</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div>

      <a href="{% url 'myadmin_login' %}" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
    </div>
  </div><!-- /.card -->
{% endblock %}
