{% extends 'myadmin/base_user.html' %}

{% load static %}
{% block main_body %}
  <!-- 黑色背景 -->
  <div class="card">
    <div class="register-box">
    <div class="card-body register-card-body">
      <p class="login-box-msg">编辑员工信息</p>
      <!-- 要想有上次图片文件功能，后面必须加类属性：enctype="multipart/form-data" 否则上传是不行的-->
      <form action="{% url 'myadmin_user_update_personal' request.session.adminuser.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
          <!-- 隐藏一个头像名，用type="hidden"表示 -->
          <input type="hidden" name="head_portrait" value="{{ request.session.adminuser.head_portrait }}"/>
          {% if request.session.adminuser.head_portrait == "" %}
          <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}user2-160x160.jpg" width="60" alt="用户头像"><br/>
          {% else %}
		  <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}{{ request.session.adminuser.head_portrait }}" width="60" alt="用户头像"><br/>
		  {% endif %}
          修改头像：<input type="file" name="pic">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="username" readonly class="form-control" value="{{ request.session.adminuser.username }}" placeholder="账号">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas ">账号</span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" name="nickname" class="form-control" value="{{ request.session.adminuser.nickname }}" placeholder="昵称">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas ">昵称</span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" name="personal-signature" class="form-control" value="{{ request.session.adminuser.personal_signature }}" placeholder="个性签名">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas ">个性签名</span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" readonly value="{{ request.session.adminuser.create_at }}" placeholder="添加时间">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-times-circle-o">添加时间</span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" readonly value="{{ request.session.adminuser.update_at }}" placeholder="修改时间">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-times-circle-o">修改时间</span>
            </div>
          </div>
        </div>
        <div class="row">
        <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
          </div>
        <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
    </div>
  </div><!-- /.card -->
{% endblock %}
