{% extends 'myweb/base_user.html' %}

{% load static %}
{% block main_body %}
  <!-- 黑色背景 -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">杨天龙的常用网址</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped" style="text-align: center;">
        <thead>
          <tr>
            <th colspan = "4"><font size="5" >兼容测试网址</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://odocs.myoas.com/sheets/Vgoq9gGKXZgVwvgv/7B7c8"  target="目标" title="说明">互联网工作日报 - 兼容</a></td>
            <td><a href="https://odocs.myoas.com/sheets/xite2cdjXP4p5365/zpCiz"  target="目标" title="说明">工作汇报</a></td>
            <td><a href="https://odocs.myoas.com/folder/erAdP6GQKec1VdAG"  target="目标" title="说明">兼容性测试任务接收 - 石墨文档</a></td>
            <td><A HREF="https://odocs.myoas.com/sheets/c6WDKht6GyCdrTgq/G9LRl/" target="blank">测试情况汇总</A></td>
          </tr>
          <tr>
            <td><a href="http://aqmd.itest.wanyol.com/case/index" target="目标" title="说明">AQMD</a></td>
            <td><a href="http://columbus.os.adc.com/manageView/project"  target="目标" title="说明">哥伦布系统</a></td>
            <td><a href="https://doc.myoas.com/pages/viewpage.action?pageId=435943337"  target="目标" title="说明">CF</a></td>
            <td><a href="https://odocs.myoas.com/sheets/hkp96YqDWydy88yy/MODOC"  target="目标" title="说明">吴志祥-哥伦布的兼容性缺陷数量排行</a></td>
          </tr>
          <tr>
            <td><A HREF="http://pay-front-admin-test.wanyol.com/#/login">安全支付测试平台</A></td>
            <td><a href="https://phonemanage.wanyol.com/#/dashboard"  target="目标" title="说明">样机管理平台</a></td>
            <td><A HREF="http://10.177.250.130/datatools/toolindex.html#/fuxi/dataview">伏羲数据</A></td>
            <td><a href="http://generate-account.wanyol.com/#/normal"  target="目标" title="说明">会员测试平台</a></td>
          </tr>
          <tr>
            <td><A HREF="https://odocs.myoas.com/sheets/hd9py6Cxg8hwgDyy/pDYLe/ " target="_blank" title="历史遗留缺陷验证">《历史遗留缺陷验证》</A></td>
            <td><A HREF="http://olcoud.util.platform.wanyol.com/#/PhonePath" target="blank">获取刷机地址</A></td>
            <td><A HREF="https://outlook.office365.com/mail/inbox" target="blank">OPPO邮箱</A></td>
            <td><A HREF="https://oms.myoas.com/overtime" target="blank">OMS外包管理系统</A></td>
          </tr>
          <tr>
            <td><A HREF="https://it6000.myoas.com/static/#/software" target="blank" title="说明">软件下载</A></td>
            <td><A HREF="https://odocs.myoas.com/sheets/YjvKTqRdxJVpyYRw/MODOC" target="blank">设备带入黄区</A></td>
            <td><A HREF="https://odocs.myoas.com/sheets/Wr3DVzX0dbuGQVkJ/MODOC" target="blank">2021年培训内容</A></td>
            <td><A HREF="https://doc.myoas.com/pages/resumedraft.action?draftId=460620879&draftShareId=b97c2808-a7e9-44c7-9200-8c00182fbf89&" target="blank">培训课题</A></td>
          </tr>
          <tr>
            <td><A HREF="https://odocs.myoas.com/sheets/onq7Mwx8V7t4FmA9/O0MoQ/" target="blank">周六值班表</A></td>
            <td><A HREF="https://odocs.myoas.com/sheets/rcckPPkG8wy9ygPR/" target="_blank" title="">个人样机登记表</A></td>
            <td><A HREF="" target="_blank" title=""></A></td>
            <td><A HREF="" target="_blank" title=""></A></td>
          </tr>
          <tr>
            <th colspan = "4" ><font size="5" >适配网址</th>
          </tr>
          <tr>
            <td><a href="http://testset.myoas.com/#/projectSpace" target="目标" title="说明">TESTSET</a></td>
            <td><a href="https://doc.myoas.com/pages/viewpage.action?pageId=359935736" target="目标" title="说明">待验证/打回问题统一处理方法</a></td>
            <td><a href="http://alm.adc.com/OPPO/%E7%BC%BA%E9%99%B7%E7%AE%A1%E7%90%86"  target="目标" title="说明">ALM</a></td>
            <td><a href="https://doc.myoas.com/pages/viewpage.action?pageId=276073649"  target="目标" title="说明">智能产品-前端测试任务列表</a></td>
          </tr>
          <tr>
            <td><a href="https://doc.myoas.com/pages/viewpage.action?pageId=259906496" target="目标" title="说明">快应用版本信息 - 智能产品部共享资料</a></td>
            <td><a href="https://noah-gsdp.myoas.com/global-search/" target="目标" title="说明">global-search</a></td>
            <td><a href="http://poseidon.adc.com/home"  target="目标" title="说明">波塞冬-大文件管理系统</a></td>
            <td><A HREF="http://qmd.adc.com/qmd/testTask/my-task" target="目标" title="说明">QDM</A></td>
          </tr>
          <tr>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
          </tr>
          <tr>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/" target="目标" title="说明">待定</A></td>
          </tr>
          <tr>
              <th colspan = "4"><font size="5" color="">yTL网址</th>
          </tr>
          <tr>
            <td><a href="https://ytlgithub.github.io/"  target="目标" title="说明">YTLBlog</a></td>
            <td><A HREF="http://localhost:8080/">本地博客服务</A></td>
            <td><a href="https://fanyi.baidu.com/translate?aldtype=16047&query=&keyfrom=baidu&smartresult=dict&lang=auto2zh#auto/zh/"  target="目标" title="说明">百度翻译</a></td>
            <td><a href="https://www.bitbug.net/"  target="目标" title="说明">制作ico图标</a></td>
          </tr>
          <tr>
            <td><A HREF="https://docs.qq.com/desktop/mydoc/folder/HQzxCJriRxCn" target="目标" title="说明">腾讯文档-杨天龙</A></td>
            <td><a href="https://vic.kim/2019/05/20/UIAutomator2%E7%9A%84%E4%BD%BF%E7%94%A8/"  target="目标" title="说明">UIAutomator2的使用 | Vicの博客</a></td>
            <td><A HREF="https://passport.isoftstone.com/" target="目标" title="说明">软通地址</A></td>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
          </tr>
          <tr>
            <td><A HREF="https://github.com/YtlGitHub/YtlGitHub.github.io">个人博客</A></td>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
          </tr>
          <tr>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
            <td><A HREF="https://odocs.myoas.com/">待定</A></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
{% endblock %}