<!-- 转借信息编辑 -->
  <div class="modal fade" id="b{{prototype.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document"> <!-- class="modal-dialog modal-dialog-centered"后面加： modal-dialog-centered 就会中间显示-->
      <!-- 要想有上次图片文件功能，后面必须加类属性：enctype="multipart/form-data" 否则上传是不行的-->
      <form action="{% url 'myadmin_prototype_update_still_time' prototype.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">确定归还？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body register-card-body">
            <div class="input-group mb-3">
              <input type="text" name="id_name" readonly class="form-control" value="{{ prototype.id_name }}" placeholder="项目代号">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">项目代号</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <!--<input type="text" name="user_name" class="form-control" value="" placeholder="样机借用人">-->
              <!--用户名-->
              <input type="text" class="form-control" readonly value="{{ prototype.user_name }}" placeholder="借用人">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">借用人</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" readonly value="{{ prototype.borrow_time|date:'Y-m-d H:i:s' }}" placeholder="借用时间">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-times-circle-o">借用时间</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" readonly value="{{ prototype.still_time|date:'Y-m-d H:i:s' }}" placeholder="归还时间">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-times-circle-o">归还时间</span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" name="remarks" class="form-control" value="{{ prototype.备注 }}" placeholder="备注">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas ">备注</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">确定</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<!-- /.编辑转借人信息  -->
