{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>杨天龙样机后台管理系统</title>
  <!-- 暗色模式下的样式设置 -->
  <style>
    /* form表单背景颜色和边框颜色设置 */
    .demo {
      background-color: #343a40;
      color: green;
      caret-color: green;
    }
    .demo:hover { border:1px solid green; }
    /* 超链接颜色设置 */
    td a {
      color: white;
      text-decoration: none;
      }
    td a:hover {
      color: rgb(0,255,255);
      text-decoration: underline;
      }
  </style>
  <!-- class图标css -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'myweb/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'myweb/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'myweb/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'myweb/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'myweb/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'myweb/dist/css/adminlte.min.css' %}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'myweb/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="{% static 'myweb/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
  <!-- Toastr -->
  <link rel="stylesheet" href="{% static 'myweb/plugins/toastr/toastr.min.css' %}">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<!-- 弹框编辑个人信息 -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document"> <!-- class="modal-dialog modal-dialog-centered"后面加： modal-dialog-centered 就会中间显示-->

      <form action="{% url 'myweb_user_update_personal' request.session.adminuser.id %}" method="post" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">编辑员工信息</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body register-card-body">
          <!-- 要想有上次图片文件功能，后面必须加类属性：enctype="multipart/form-data" 否则上传是不行的-->
            <div class="modal-body">
              {% csrf_token %}
              <div class="input-group mb-3">
                <!-- 隐藏一个头像名，用type="hidden"表示 -->
                <input type="hidden" name="head_portrait" value="{{ request.session.adminuser.head_portrait }}"/>
                {% if request.session.adminuser.head_portrait == "" %}
                <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}user2-160x160.jpg" width="60" alt="用户头像"><br/>
                {% else %}
                <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}{{ request.session.adminuser.head_portrait }}" width="60" alt="用户头像"><br/>
                {% endif %}
                修改头像：<input type="file" name="pic">
              </div>
              <div class="input-group mb-3">
                <input type="text" name="username" readonly class="form-control" value="{{ request.session.adminuser.username }}" placeholder="账号">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas ">账号</span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" name="nickname" class="form-control" value="{{ request.session.adminuser.nickname }}" placeholder="昵称">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas ">昵称</span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" name="personal-signature" class="form-control" value="{{ request.session.adminuser.personal_signature }}" placeholder="个性签名">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas ">个性签名</span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" name="phone" class="form-control" value="{{ request.session.adminuser.phone }}" placeholder="电话号码">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas ">电话号码</span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" readonly value="{{ request.session.adminuser.create_at }}" placeholder="添加时间">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-times-circle-o">添加时间</span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" readonly value="{{ request.session.adminuser.update_at }}" placeholder="修改时间">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-times-circle-o">修改时间</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary">保存更改</button>
        </div>
      </div>
      </form>
    </div>
  </div>
<!-- /.编辑个人信息  -->
<!-- 弹框提示信息 -->
  <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document"> <!-- class="modal-dialog modal-dialog-centered"后面加： modal-dialog-centered 就会中间显示-->
      <!-- 要想有上次图片文件功能，后面必须加类属性：enctype="multipart/form-data" 否则上传是不行的-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">确定归还？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body register-card-body">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{info}}</h3>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">确定</button>
          </div>
        </div>
    </div>
  </div>
<!-- /.提示信息  -->
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="{% static 'myweb/dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'myweb_index' %}" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% static 'myweb/dist/img/user1-128x128.jpg' %}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% static 'myweb/dist/img/user8-128x128.jpg' %}" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% static 'myweb/dist/img/user3-128x128.jpg' %}" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>

      <!-- 个人信息 -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <span>{{ request.session.adminuser.nickname }}</span>  <!-- 显示账号名 -->
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <!-- 个人信息模板1 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header text-white" style="background: url('{% static 'myweb/dist/img/photo4.jpg' %}') center center;)"><!--class="widget-user-header bg-info"：黄色背景、bg-info：蓝色背景、text-white：自定义图片背景(class="widget-user-header text-white" style="background: url('{% static 'myweb/dist/img/photo1.png' %})' center center;)"-->
              <div class="widget-user-image">
                {% if request.session.adminuser.head_portrait == "" %}
                  <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}user2-160x160.jpg" alt="用户头像" width="60">
                {% else %}
                  <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}{{ request.session.adminuser.head_portrait }}" alt="用户头像" width="60">
                {% endif %}
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ request.session.adminuser.nickname }}</font></font></h3><!-- /.昵称 -->
              <h6 class="widget-user-desc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ request.session.adminuser.create_at }}加入</font></font></h6><!-- /.加入时间 -->
              <h6 class="widget-user-desc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">个性签名：{{ request.session.adminuser.personal_signature }}</font></font></h6><!-- /.个性签名 -->
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    项目 </font></font><span class="float-right badge bg-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">31</font></font></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    内销 </font></font><span class="float-right badge bg-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{request.session.prototype.dedomestic}}</font></font></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    外销 </font></font><span class="float-right badge bg-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{request.session.prototype.deexport}}</font></font></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    样机总数 </font></font><span class="float-right badge bg-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{request.session.prototype.prototypeCount}}</font></font></span>
                  </a>
                </li>
                <!-- 编辑个人信息 -->
                <li class="nav-item">
                  <span class="float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      编辑个人信息
                    </button>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown-divider"></div><!-- /.分割线 -->
          <a href="{% url 'myweb_logout' %}" class="dropdown-item dropdown-footer">退出登录</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!-- 登入到后台 -->
    <a href="{% url 'myadmin_index' %}" class="brand-link">
	  <img src="{% static 'myadmin/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">MY Admin</span><!-- 进入后台管理 -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
			{% if request.session.adminuser.head_portrait == "" %}
			  <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}user2-160x160.jpg" alt="用户头像" width="60">
			{% else %}
			  <img class="img-circle elevation-2" src="{% static 'uploads/user/headPortrait/' %}{{ request.session.adminuser.head_portrait }}" alt="用户头像" width="60">
			{% endif %}
        </div>
        <div class="info">
          <a href="" class="d-block">{{ request.session.adminuser.nickname }}</a><!-- 昵称 -->
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <!-- <li class="nav-item menu-open"> 这个后面加个 menu-open 设置默认打开转态-->
          <!-- <li class="nav-item"> 这个后面删除 menu-open 设置默认收起转态-->
          <li class="nav-header">样机管理系统</li>
          <li class="nav-item">
            <a href="{% url 'myweb_index'  %}" class="nav-link {{myweb_index_active}}"> <!-- <li class="nav-link active"> 这个后面加个 active 设置默认选中状态-->
              <i class="nav-icon fas fa-home"></i>
              <p>
                首页
              </p>
            </a>
          </li>
          <!-- 杨天龙样机查询开始 -->
          <li class="nav-item {{myweb_prototype_pages_menu_open}}">
            <a href="#" class="nav-link {{myweb_prototype_pages_active}}{{myweb_prototype_pages_active_me}}">
              <i class="nav-icon fas fa-user-secret"></i>
              <p>
                样机管理
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'myweb_prototype_pages' 1 5 %}" class="nav-link {{myweb_prototype_pages_active}}">
                  &nbsp;
                  <i class="fas fa-table nav-icon"></i>
                  <p>查询兼容组已录入样机</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'myweb_prototype_pages_me' 1 5 %}" class="nav-link {{myweb_prototype_pages_active_me}}">
                  &nbsp;
                  <i class="fas fa-user nav-icon"></i>
                  <p>我的借用</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item {{myweb_ytl_ytl_url_menu_open}}{{myweb_ytl_phone_info_menu_open}}">
            <a href="#" class="nav-link {{myweb_ytl_ytl_url_active}}{{myweb_ytl_phone_info_active}}">
              <i class="nav-icon fas fa-file"></i>
              <p>
                常用网址 V1
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'myweb_ytl_ytl_url' %}" class="nav-link {{myweb_ytl_ytl_url_active}}">
                  &nbsp;
                  <i class="far fa-circle nav-icon"></i>
                  <p>公司常用网址 V2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'myweb_ytl_phone_info' %}" class="nav-link {{myweb_ytl_phone_info_active}}">
                  &nbsp;
                  <i class="far fa-circle nav-icon"></i>
                  <p>查找手机信息 V2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  &nbsp;
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    我的常用网址 V2
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="https://4280pt0319.zicp.fun/" class="nav-link">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>ytl个人网站</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://ytlgithub.github.io/" class="nav-link">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>github-YTLBlog</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://ytlserver.imdo.co/" class="nav-link">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>ytlserver-YTLBlog</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="http://159.75.33.27/" class="nav-link">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>IP-YTLBlog</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://fanyi.baidu.com/" class="nav-link">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>百度翻译</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://blog.csdn.net/wode_124/article/details/83099723" class="nav-link">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Django中MySQL数据查询</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://www.bilibili.com/video/BV1pq4y1W7a1?p=15" class="nav-link">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Django视频</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://fontawesome.dashgame.com/" class="nav-link" target="目标" title="网址">
                      &nbsp;&nbsp;
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>class_name_imgs网址</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- /杨天龙样机查询结束 -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>数据表</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">首页</a></li>
              <li class="breadcrumb-item active">数据表</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <!-- 提示信息div公用外面的div -->
      <div class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
              <!-- 左边对齐显示 -->
              <div class="col-sm-12 col-md-6">
              </div>
              <!-- 右边中间对齐显示div -->
              <div class="col-sm-12 col-md-6">
                  {% if messages %}
                  <ul class="btn btn-warning toastsDefaultWarning">
                      {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                          {{ message }}
                      </li>
                      {% endfor %}
                  </ul>
                  {% endif %}
              </div>
          </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% block main_body%}
            {% endblock %}
          </div>
        <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0-rc
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'myweb/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'myweb/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'myweb/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'myweb/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'myweb/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'myweb//plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'myweb/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'myweb/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'myweb/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'myweb/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'myweb/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'myweb/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'myweb/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'myweb/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'myweb/dist/js/adminlte.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'myweb/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'myweb/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'myweb/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'myweb/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'myweb/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'myweb/plugins/chart.js/Chart.min.js' %}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{% static 'myweb/dist/js/demo.js' %}"></script>
<!-- 我的js -->
{% for prototype in prototypeList %}  <!-- for循环打印转借ajax -->
<script>
  //设置转借操作
  $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
  $('#updateUserName{{prototype.id}}').click(function(){
    if (confirm("确定转借？")){
      //朝后端发送ajax请求
      $.ajax({
        //1.指定像哪个后端提交ajax请求，不填则默认向当前地址提交
        url: "{% url 'myweb_ytl_ajax' %}",
        //2.指定请求方式：get/post 默认是get请求
        type: 'POST',
        //3.要提交后端得数据
        data: {'remarks': $('#remarks{{prototype.id}}').val(), 'idNumber': $('#idNumber{{prototype.id}}').val(), 'userName': $('#userName{{prototype.id}}').val()},
        //4.回调函数：当后端返回结果时会自动触发，args用来接收后端得返回结果
        success:function (args) {
          console.log(args, typeof args);
          $('#prototype-user-name{{prototype.id}}').html(args.userName);
          $('#prototype-remarks{{prototype.id}}').html(args.remarks);
          /*
          windowTk = window.open ('{% url 'myweb_ytl_ajax' %}','info','height=100,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no')
          setTimeout("windowTk.close()",2000);
          window.open 弹出新窗口的命令；
          page.html 弹出新窗口的文件名；
          newwindow 弹出窗口的名字（不是文件名），可用空 ″代替；
          height=100 窗口高度；
          top=0 窗口距离屏幕上方的像素值；
          left=0 窗口距离屏幕左侧的像素值；
          toolbar=no 是否显示工具栏，yes为显示；
          menubar,scrollbars 表示菜单栏和滚动栏；
          resizable=no 是否允许改变窗口大小，yes为允许；
          location=no 是否显示地址栏，yes为允许；
          status=no 是否显示状态栏内的信息（通常是文件已经打开），yes为允许；
          */

          alert(args.info)
          location.reload(true);
        }
      })
    }
  })
</script>
{% endfor %}  <!-- for循环结束 -->

<script>
  //设置归还操作
  $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
  /*
  $('#stillTime{{prototype.id}}').click(function(){
    if (confirm("确定归还？")){
      //朝后端发送ajax请求
      $.ajax({
        //1.指定像哪个后端提交ajax请求，不填则默认向当前地址提交
        url: "{% url 'myweb_ytl_ajax_still_time' %}",
        //2.指定请求方式：get/post 默认是get请求
        type: 'POST',
        //3.要提交后端得数据
        data: {'idNumber': $('#idNumber{{prototype.id}}').val()},
        //4.回调函数：当后端返回结果时会自动触发，args用来接收后端得返回结果
        success:function (args) {
          console.log(args, typeof args);
          $('#prototype-user-name{{prototype.id}}').html(args.userName);
          $('#stillTime{{prototype.id}}').html(args.stillTime);
          alert(args.info)
          location.reload(true);
        }
      })
    }
  });
  */
  //设置归还操作
  function stillTime(id){
    if (confirm("确定归还？")){
      //朝后端发送ajax请求
      $.ajax({
        //1.指定像哪个后端提交ajax请求，不填则默认向当前地址提交
        url: "{% url 'myweb_ytl_ajax_still_time' %}",
        //2.指定请求方式：get/post 默认是get请求
        type: 'POST',
        //3.要提交后端得数据
        data: {'idNumber': id},
        //4.回调函数：当后端返回结果时会自动触发，args用来接收后端得返回结果
        success:function (args) {
          console.log(args, typeof args);
          alert(args.info)
          location.reload(true);  //刷新当前页面
        }
      })
    }
  }
</script>

<script>
    //设置不是管理员不能进行删除操作
    //window.alert('警告弹框');
    /*
    var a = "{{request.session.adminuser.status}}";
    window.alert(a);
    */
    function doDel(uu){
        var a = "{{request.session.adminuser.status}}";
        //判断是否管理员状态为6是管理员
        if (a == 6){
            if (confirm("确定要删除？")){
            //网页跳转
            window.location=uu;
            }
        }
        else{
            alert("无删除权限,如需删除请联系管理员")
        }

    }
</script>
<script src="{% static 'myweb/dist/js/demoYtlWeb.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'myweb/dist/js/pages/dashboard2.js' %}"></script>
</body>
</html>
